### Ignore things from IDEs. ##############################
/.vscode
/.idea

### Ignore OS-specific files. #############################
.DS_Store
Thumbs.db

### Ignore temp files and log files. ######################
*.log
*.tmp
test/tmp/**/*

### And ignore things that should be rebuilt. #############
package-lock.json
yarn.lock
node_modules
